@import 'vars';
@import 'global';
@import 'fonts';

//start header
.header__top-inner{
display: flex;
justify-content: space-between;
align-items: center;
height: 90px;
}
.header__top-text{
    margin-left: auto;
    padding-right: 50px;
    span{
        color: $red;
    }
}
.header__logo-link{
    img{
    width: 154px;
}
}
.header__top-panel{
    display: flex;
    align-items: center;
}
.header-btn{
    padding: 4px;
    border-radius: 4px;
    width: 72px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
}
.header-btn--login{
    background-color: $green;
}
.header-btn--register,
.header-btn--logout{
    background-color: red;
    margin-left: 7px;
}
// .header-btn--login-off{
//     display: none;
// }
.header-btn--logout{
    display: none;
    // &.header-btn--login-on{
    //     display: block;
    // }
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list{
    .menu__list-item{
        display: inline-block;
        .menu__list-link{
            color: #FFF;
            @include f500;
        }
    }
    .menu__list-item + .menu__list-item{
        margin-left: 30px;
    }
}
.header__circle{
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    font-size: 14px;
    position: relative;
    display: none;
    &.active{
        display: block;
    }
    span{
        width: 18px;
        position: absolute;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        font-size: 11px;
        color: #FFF;
    }
}
%before{
    content: "";
    position: absolute;
    width: 16px;
    height: 13px;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    background-repeat: no-repeat;
    background-size: cover;
}

.notification{
    span{
        background-color: $yellow;
    }
    &::before{
        @extend %before;
        background-image: url("../img/bell.svg");
        height: 15px;
    }
}
.message{
    span{
        background-color: $tomato;
    }
    &::before{
        @extend %before;
        background-image: url("../img/message.svg");
    }
}
.basket{
    span{
        background-color: $green;
    }
    &::before{
        @extend %before;
        background-image: url("../img/shopping-cart.svg");
    }
}
.user{
    margin-left: 20px;
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background-image: url('../img/arrowtobottom.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 12px;
        height: 8px;
        top: 9px;
        right: 0;
    }
    &__inner{
      display: flex;  
      align-items: center;
    }
    &__image{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        margin-right: 15px;
        overflow: hidden;
    }
    &__info{
        font-size: 14px;
        line-height: 24px;
    }
    &__name{
        @include f500;
        color: #222;
    }
    &__money{
        color: $green;
        @include f700;
    }
}
.user__box{
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover{
        .user__menu{
        height: auto;
        overflow: auto;
        border: 1px solid rgb(204,204,204);
        padding: 20px; 
    }
    }
}
.user__menu{
    border: 0px solid rgb(204,204,204);
    position: absolute;
    background-color: #FFF;
    padding:  0px 20px;
    width: 158px;
    top: 69px;
    left: 20px;
    transition: all .3s;
    overflow: hidden;
    height: 0;
    a {
        font-size:  12px;
        color: $text;
        margin-bottom:15px;
    }
    &-link{
        position: relative;
        padding-left: 15px;
        &::before{
            position: absolute;
            content: "";
            background-image: url('../img/arrow.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 10px;
            height: 15px;
            top: 5px;
            left: 0;
        }
    }
}
.basket__menu, 
.circle__menu{
    position: absolute;
    top: 62px;
    right: 0;
    border-top: 1px solid #e0e0e0;
    height: 0;
    overflow: hidden;
    &-item{
        background-color: #FFF;
        border: 0px solid #e0e0e0;
        transition: all .3s;
        border-top: none;
        padding: 0 23px;
        display: flex;
        align-items: center;
        width: 269px;
        line-height: 20px;
        img{
            width: 75px;
            height: 60px;
            margin-right: 15px;
        }
    }
}
.circle__menu{
    &-item{
        line-height: 18px;
        position: relative;
        img{
            width: 48px;
            height: 48px;
            margin-right: 20px;
            border-radius: 50%;
        }
    }
}
.message__menu-item::before,
.notification__menu-item::before,
.message__menu-item--ok::before,
.notification__menu-item--active::before,
.message__menu-item--active::before{
    position:absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: calc(50% - 9px);
    right: 28px;
    width: 15px;
    height: 18px;
}
.notification__menu-item--active::before{
    background-image: url("../img/active-bell.svg");
}
.message__menu-item::before{
 background-image: url("../img/message.svg");   
}
.message__menu-item--ok::before{
    background-image: url("../img/reply.svg");
}
.notification__menu-item::before{
background-image: url("../img/bell.svg");
}
.message__menu-item--active::before{
    background-image: url("../img/message-active.svg");
}
.basket__menu-name,
.circle__menu-name{
    color: $bg;
    @include f500;
}
.basket__menu-theme{
    color: $green;
    font-size: 12px;
    @include f500;
}
.circle__menu-theme{
    color: $green;
    font-size: 12px;
}
.basket__menu-price{
    color: black;
    font-size: 16px;
    @include f700;
}
.circle__menu-date{
    color: #707070;
    font-size: 10px;
}
.basket__box,
.notification__box,
.message__box{
    margin-top: 55px;
    margin-left: 15px;
    position: relative;
    height: 90px;
    &:hover{
        .basket__menu,
        .circle__menu{
            height: auto;
            overflow: auto;
        }
        .circle__menu-item,
        .basket__menu-item{
            border-width: 1px;
            padding: 23px;
        }
    }
}
.basket__sum{
    padding: 16px 17px 12px;
    background-color: #FFF;
    border: 1px solid #e0e0e0;
    &-title{
        display: flex;
        justify-content: space-between;
        padding-left: 12px;
        padding-right: 22px;
        @include f700;
        margin-bottom: 15px;
        font-size: 16px;
        color: $bg;
    }
}
.basket-btn{
    @include f700;
    color: #FFF;
    font-size: 14px;
    padding: 10px 5px;
    text-align: center;
}
.basket-btn--cart{
    width: 100px;
    background-color: $green;
}
.basket-btn--chekout{
    width: 120px;
    background-color: #e85647;
    margin-left: 6px;
}
//end header

//start modal
#modal{
    background-color: $green;
    width: 730px;
    padding: 90px 10px 100px;
}
.modal__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 40px;
    color: #FFF;
    @include f700;
}
.modal__form{
        max-width: 400px;
        margin: 0 auto;
    label{
        position: relative;
    }
    input{
        width: 100%;
        height: 43px;
        margin-bottom: 8px;
        color: #FFF;
        font-size: 14px;
        border: none;
        padding-left: 40px;
        display: block;
        background-color: #76ae36;
        &::placeholder{
            font-size: 14px;
            color: #FFF;
        }
    }
}
.label-name::before,
.label-password::before{
    position: absolute;
    content: "";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 15px;
    top: 15px;
    left: 15px;
    z-index: 10;
}
.label-name::before{
background-image: url("../img/userprofile.svg");
}
.label-password::before{
    background-image: url("../img/lockclosed.svg");   
}
.modal__form{
    button{
        margin-top: 19px;
        padding: 18px 0 16px;
        width: 140px;
        text-transform: uppercase;
        color: #000;
        font-size: 14px;
        border: none;
        @include f700;
        margin-right: 10px;
        box-shadow: 0px 2px 2px 0px rgba(118, 174,54, 0.75);
        margin-bottom: 25px;
    }
}

.create_acc{
    margin-top: 19px;
    padding: 13px 0 15px 30px;
    text-align: center;
    width: 245px;
    font-size: 18px;
    background-color: #76ae36;
    color: #FFF;
    border: none;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/Edit.svg");
        width: 28px;
        height: 22px;
        top: 13px;
        left: 33px;
        z-index: 10;
    }
}
.lost_password{
    display: block;
    font-size: 18px;
    color: #FFF;
    line-height: 30px;
}
.fancybox-button svg path {
    fill: #FFF;
}
//end modal

//start search
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 533px;
    &.new-item__search{
        min-height: 230px;
        .search__inner{
        padding: 60px 0 68px;
        .search__inner-title{
            line-height: 30px;
            margin-bottom: 15px;
            font-size: 20px;
            @include f500;
        }
    }
    }
}
.search__inner{
    padding: 155px 0 100px;
    color: #FFF;
    text-align: center;
    &-title{
        margin-bottom: 10px;
        font-size: 48px;
        @include f700;
        line-height: 70px;
    }
    &-text{
        margin-bottom: 50px;
        font-size: 20px;
        @include f500;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178,64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            padding: 0 60px 0 25px;
            font-size: 14px;
            &::placeholder{
                color: #90a4ae;
                @include f500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 15px;
            top: calc(50% - 13px);
            img{
            width: 22px;
            height: 25px;
            object-fit: cover;
        }
    }
}
}

//end search

//start products

.product{
    padding: 110px 0;
    background-color: $grey;
}
.product__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #FFF;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #FFF;
            outline: none;
        }
    }
}
.product__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 47px;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;

    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e7ecf2;
        padding: 10px 30px;
        align-items: center;  
        min-height: 90px;
        @include f500;
    }
    &-name{
        max-width: 301px;
    }
    &-title{
        color: $bg;
        font-size: 18px;
        @include f500;
        display: block;
    }
    &-category{
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price{
        font-size: 20px;
        color: $bg;
        font-weight: 700;
    }
    &-info{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
    }
    &-user{
        font-size: 14px;
        span{
           min-width: 30px;
           height: 30px;
           border-radius: 50%;
           background-position: center center;
           background-size: cover;
           background-repeat: no-repeat;
           display: inline-block;
           margin-right: 13px;
           vertical-align: middle;
        }
    }
}
.products__bottom-btn{
    text-align: center;
    button{
        padding: 18px 37px 18px 32px;
        background-color: #FFF;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        color:$bg;
        border: none;
        margin-right: 10px;
        cursor: pointer;
    }
}

//Section product END

//Start ADVANTAGES
.advantages{
    background-color: $bg;
    padding: 100px 0;
}
.advantages__title{
    color:#FFF;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 380px;
    align-items: center;
}
.advantages__item{
    max-width: 370px;
    text-align: center;
    padding: 0 10px;
    &:hover{
        .advantages__item-image{
            background-color: $green;
            transition: all .3s;
            g{
                fill:#FFF;
            }
        }
        .advantages__item-title{
            color: $green;
            transition: all .3s;
        }
    }
    &-image{
        width: 114px;
        height: 114px;
        background-color: #FFF;
        border-radius: 50%;
        margin: 0 auto 30px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    &-title{
        color: #FFF;
        margin-bottom: 25px;
        @include f500;
        font-size: 24px;
    }
    &-text{
    font-size: 15px;
    }
}
//End ADVANTAGES

//Start author
.author{
    width: 100%;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.author__inner{
    padding: 68px 60px 80px;
    background-color: $green;
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-text{
        color: #FFF;
        display: inline-block;
        margin-right: 60px;
        font-size: 22px;
        span{
            @include f500;
        }
    }
        a{
        font-size: 14px;
        text-align: center;
        color: $bg;
        padding: 12px 50px 12px 45px;
        background-color: #FFF;
    }
}


//End author

//Start helps
.helps{
    padding: 75px 0 115px;
}
.helps__title{
    margin-bottom: 55px;
}
.helps__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.helps__item{
    width: 370px;
    &-image{
        height: 270px;
    }
    &-text{
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        font-size: 23px;
        @include f700;
        a{
            color: $bg;
        }
    }
}
//End Helps

//start footer
.footer{
    background-color: $bg;
}
.footer__top{
    border-bottom: 1px solid #424d53;
}
.footer__inner{
    padding: 110px 0 90px;
    min-height: 490px;
    display: flex;
    justify-content: space-between;
}
.about{
    max-width: 270px;
}
.join{
    max-width: 235px;
}
.help{
    max-width: 185px;
}
.follow{
    max-width: 275px;
}
.footer__item-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    color: #FFF;
    margin-bottom: 57px;
    &::after{
        position: absolute;
        content: "";
        height: 4px;
        background-color: $green;
        width: 55px;
        top: 50px;
        left: 0;
    }
}
.footer__item{
    &-text{
        font-size: 15px;
        margin-bottom: 35px;
        color: $footer-text;
    }
    %value{
        color: #FFF;
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        padding-left: 30px;
        position: relative;
    }
    &-adress{
       @extend %value;
       margin-bottom: 18px;
       &::before{
        content: "";
        position: absolute;
        background-image: url('../img/location_icon.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 16px;
        height: 19px;
        top: 2px;
        left: 0;
       }
    }
    &-phone{
        position: relative;
        a{
        @extend %value;
        }
    }
}
.footer__item-phone::before{
    content: "";
    position: absolute;
    background-image: url('../img/phone-call.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 16px;
    top: 2px;
    left: 0;
}
.footer__menu-item{
    padding-left: 25px;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background-image: url('../img/arrow.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 10px;
        height: 15px;
        top: 5px;
        left: 0;
    }
}
.footer__menu-link{
    margin-bottom: 10px;
    color: $footer-text;
}
.footer__item-socials{
    display: flex;
    justify-content: space-between;
    width: 173px;
    margin-bottom: 40px;
    img{
        width: 28px;
        height: 28px;
        border-radius: 1px;
    }
}
.footer__item-solials-text{
    color: #FFF;
    font-size: 18px;
    margin-bottom: 22px;
}
.footer__form{
    display: flex;
    justify-content: center;
    input{
        max-width: 215px;
        height: 40px;
        background-color: #2f3c43;
        border: none;
        padding-left: 15px;
        display: inline-block;
        vertical-align: top;
        color: #FFF;
        box-shadow: inset 0px 1px 2px 0px #000;
        &::placeholder{
            color: #697378;
            font-size: 15px;
        }
    }
    button{
       display: inline-block;
       height: 40px;
       width: 45px;
        background-color: $green;
        box-shadow: inset 0px 1px 0px 0px #000;
        border: none;
        position: relative;
        img{
            width: 17px;
            height: 19px;
            position: absolute;
            top: calc( 50% - 9px);
            left: calc( 50% - 8px);
        }
    }
}
.footer__bottom{
    padding: 25px 5px 30px;
    &-text{
        text-align: center;
        color: #919699;
        font-size: 15px;
    }
}


//start product-page
.product-page{
background-color: $grey;
}
.product-page__inner{
    display: flex;
    padding-bottom: 110px;
}
.product-page__aside{
    margin-right: 30px;
}
.aside-item{
    background-color: #FFF;
    border: 1px solid #dedede;
    padding: 0 32px 32px;
    margin-bottom: 30px;
    width: 270px;
}
.aside__title{
    border-bottom: 1px solid #dde3e8;
    color: $bg;
    font-size: 20px;
    padding: 23px 0 18px;
    @include f700;
}
.category__list{
    padding-top: 10px;
    li{
        display: flex;
        padding: 10px 0;
        justify-content: space-between;
        padding-left: 20px;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url('../img/arrow.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 10px;
            height: 15px;
            top: 13px;
            left: 0;
        }
        span{
            color: #90a4ae;
        }
        a{
            color: $bg;
        }
    }
}
.price-range{
    form{
        padding: 20px 0 25px;
    }
    button{
        margin-top: 55px;
        background-color: $green;
        color: #FFF;
        @include f500;
        padding: 16px 10px;
        text-align: center;
        width: 100%;
        display: block;
        border: none;
        cursor: pointer;
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url('../img/search.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            top: calc(50% - 8px);
            left: 55px;
            width: 14px;
            height: 14px
        }
    }
}
.irs-min,.irs-max{
    display: none;
}
.irs--flat .irs-bar {
background-color: $bg;
height: 5px;
}
.irs--flat .irs-line{
    background-color: #f2f5f8;
    height: 5px;
}
.irs--flat .irs-handle {
width: 16px;
height: 16px;
top: 19px;
border: 4px solid $green;
border-radius: 50%;
background-color: #FFF;
}
.irs--flat .irs-handle>i:first-child{
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    top: 45px;
    color: #78909c;
    font-size: 15px;
    background-color: transparent;
    padding: 0px 0px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
    display: none;
}
.top-sellers{
    .aside__title{
        margin-bottom: 30px;
    }
    .product__item-img{
        min-height: 120px;
    }
    .product__item{
        box-shadow: none;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #dde3e8;
    }
    .product__item-content{
        padding: 0;
        min-height: 75px;
        border-bottom: none;
    }
    .product__item-info{
        padding: 0;
        min-height: 0;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-price{
        font-size: 16px;
    }
    .product__item-user span{
        margin-right: 9px;   
    }
    .product__item:last-child{
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
.aside__product-item{
    .product__item:last-child{
        border-bottom: 0;
        padding-bottom: 0;
    }
}
.top-sellers__link{
    padding: 16px 10px;
    background-color: $green;
    color: #FFF;
    width: 100%;
    display: block;
    @include f500;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}
.product-page__content{
    width: 100%;
    .product-page__filter{
        padding: 0 20px;
        margin-bottom: 30px;
        background-color: #FFF;
        border: 1px solid #dedede;
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.product-page__filter-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        width: 30px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        .sort{
                object-fit: cover;
                width: 18px;
        }
        .sort-2{
            object-fit: cover;
            height: 25px;
            width: 30px;
        }
        &:first-child{
            margin-right: 10px;
        }    
    }

}
.product-page__filter-start{
    font-size: 14px;
    line-height: 24px;
    color: #707070;
    display: flex;
    align-items: center;
    button{
        width: 18px;
        height: 20px;
        background-color: transparent;
        border: none;
        margin: 0;
        padding:0;
        margin-right: 10px;
        img{
            object-fit: cover;
        }
    }
}
.product-page__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.product-page__content{
    .product__item{
        max-width: 270px;
        background-color: #FFF;
    }
    .product__item-img{
        min-height: 180px;
    }
    .product__item-content{
        padding: 10px 20px;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-info{
        min-height: 65px;
        padding: 10px 20px;
    }
}
.pagination{
    li{
        display: inline-block;
        &+li{
            margin-left: 6px;
        }
        a,span{
            box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
            width: 43px;
            height: 38px;
            background-color: #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            @include f500;
            font-size: 16px;
            color: $bg;
            cursor: pointer;
            &.active{
                background-color: $red;
                color: #FFF;
                box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
            }
        }
    }
}
//end product-page
.page-404{
    background-color: $grey;
}
.page-404__wrapper{
border: 1px solid #dedede;
background-color: #FFF;
margin-bottom: 150px;
}
.page-404__head{
    font-size: 24px;
    color: #444;
    padding: 23px 27px;
    @include f500;
    border-bottom: 1px solid #dedede;
}
.page-404__inner{
    background-color: $green;
    text-align: center;
    color: #FFF;
    padding-bottom: 100px;
}
.page-404__404{
    font-size: 300px;
    line-height: 300px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    padding-top: 70px;
    position: relative;
    &::after{
        position: absolute;
        content: "";
        background-image: url('../img/men404.png');
        width: 150px;
        height: 295px;
        top: 60px;
        margin-left: 20px;
    }

}
.page-404__title{
margin-bottom: 35px;
margin-top: 20px;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 30px;
}
.page-404__text{
font-size: 18px;
max-width: 509px;
margin: 0 auto;
margin-bottom: 60px;
}
.page-404__link{
    a{
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 30px;
    border: 1px solid #FFF;
    border-radius: 4px;
    color: #FFF;
    @include f500;
}
}
//start 404-page




//end 404-page
