@import 'vars';
@import 'global';
@import 'fonts';


.header__top-inner{
display: flex;
justify-content: space-between;
align-items: center;
height: 90px;
}
.header__top-text{
    margin-left: auto;
    padding-right: 25px;
}

.header__logo-link img{
    width: 154px;
}
