body{
    box-sizing: border-box;
    background-color: lawngreen;
}
*, *::before, *::after{
    box-sizing: inherit;
}
.box{
    font-size:12px;
}
.box__item{
    width: 100px;
    .box__item-link{
        text-decoration: none;
    }
    
}
.text{
    transform: rotate(30deg);
}
